.green-primary {
    background-color: rgb(0, 191, 165);
}

.dark-primary {
    background: rgb(19, 28, 33);
}
.gray-primary{
    background: rgb(214,220,218);
}
.dark-secondary {
    background: rgb(42, 47, 50);
}
.white-color{
    background-color: whitesmoke;
  }

.bg-notification {
    background: rgb(50,55,57);
}